{% extends "base.html" %}

{% block content %}
<!-- Jumbotron -->
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Planificador de Tareas</h1>
          <p class="col-md-8 fs-4">Franco Valdés Navarro - Marcelo Fuentes Oliva - Viviana Vera Ceballos - Miguel Garay Gallardo</p>
          <p class="col-md-8 fs-4">Utilice los menu superiores para crear usuario/iniciar sesion y gestionar tareas</p>
          <p class="col-md-8 fs-4">Este sitio cuenta con su base de datos en línea, cortesía de revolt.cl</p>
        </div>
      </div>
{% endblock content %}      